doctype html
html(lang='en')
  head
    title ShellDOM
    link(rel="stylesheet" type="text/css" href="/uikit.min.css")
  body.uk-container
    div(uk-grid="")
      div.uk-width-1-1.uk-text-center
        h1(shell-header="")
      div.uk-width-1-2(shell-p="")
    script(src="/uikit.min.js")
    script(src="/uikit-icons.min.js")
    script(src="/shelldom.js")
    script(src="/main.js")
